---
import Layout from '../layouts/Layout.astro'

---

<Layout title="Blog | Astron" bgcol="bg-blak" txtcol="text-white">

<section class="container mx-auto px-2">

<div class="flex justify-center items-center h-screen -mt-24 md:-mt-48">
  
  <h3 class="-rotate-[25deg] text-7xl md:text-[96px] text-white text-center">PAGE NOT FOUND</h3>
  
</div>

</section>
</Layout>