---
import {getCollection} from "astro:content"
import Layout from '../layouts/Layout.astro'
import Post from "../components/Post.astro"

const posts = await getCollection("posts")
// console.log(posts)


---
<Layout title="Blog | Astron" bgcol="bg-blak">
	<main class="container mx-auto">
    <h2 class="text-3xl text-slate-100">Articles</h2>
    <section class="px-2 my-3 grid gap-1 sm:grid-cols-2 lg:grid-cols-lemon">
    {
      posts.map(post => (
        <Post post={post} />
    ))}
    </section>
	</main>
</Layout>