---
import {getCollection} from "astro:content"
import Layout from '../layouts/Layout.astro'
import Post from "../components/Post.astro"

const posts = await getCollection("posts")
// console.log(posts)


---
<Layout title="Blog | Matthew via Music" bgcol="bg-blak" txtcol="text-white">
	
  <section class="container mx-auto px-2">
    
    <h2 class="text-3xl text-slate-100">Discography</h2>
    
    <div class="px-0 my-3 grid gap-4 sm:grid-cols-2 lg:grid-cols-lemon">
    {
      posts.map(post => (
        <Post post={post} />
    ))}
    </div>

	</section>
  
</Layout>