---
import Layout from '../layouts/Layout.astro'
import Bar from "../components/charts/Bar.astro"

---
<Layout title="Charts | Astron" bgcol="bg-[#F8E9DD]" txtcol="text-black">

<div class="container mx-auto">
    <canvas id="chart"></canvas>
</div>

<Bar/>

</Layout>

