---
import Layout from '../layouts/Layout.astro'
import Bar from "../components/charts/Bar.astro"
import Line from "../components/charts/Line.astro"
import Pie from "../components/charts/Pie.astro"

---

<Layout title="Charts | Astron" bgcol="bg-chartBg" txtcol="text-black">

<div class="container mx-auto mb-20">

<div class="overflow-x-auto xl:overflow-x-hidden">
  <div id="grid">
        <canvas id="bar"></canvas>
    </div>
</div>

      <canvas id="line"></canvas>

    <canvas id="pie"></canvas>
  </div>



<Bar/>
<Line/>
<Pie/>

</Layout>

