---
import Layout from '../layouts/Layout.astro'



---

<Layout title="Astron" bgcol="bg-blak" txtcol='text-white'>
	<main class="container mx-auto px-4">
  
    <!-- <section class="px-0 my-3 grid gap-1 sm:grid-cols-2 lg:grid-cols-lemon"> -->
    <section class="px-0 my-8 flex justify-center">

    <h2 class="text-[40vw] md:-mt-24 text-white" id="counter"></h2>
    </section>
	</main>
</Layout>


<script>

function incrementCounter(
  selector: string,
  current: number,
  target: number,
  duration: number,
  letter: string = ""
){
  let counter = document.getElementById(selector)
  let stepTime = Math.abs(Math.floor(duration / target))
  if(current < target && counter){
    current++
    counter.innerText = current.toString() + letter
    setTimeout(() => {
      incrementCounter(selector, current, target, duration, letter)
    }, stepTime)
  }
}

incrementCounter("counter", 0, 85, 2000)

</script>