---
import Layout from '../layouts/Layout.astro'

---

<Layout title="Astron" bgcol="bg-blak" txtcol='text-white'>

    <!-- <section class="px-0 my-3 grid gap-1 sm:grid-cols-2 lg:grid-cols-lemon"> -->
    <section class="container mx-auto px-4">
      <div class="px-0 my-8 flex 2xl:items-center 2xl:h-screen justify-center">

        <h2 class="text-[34vw] text-white" id="counter"></h2>
    
      </div>
    </section>


</Layout>


<script>
interface JSONItem{
  trackName: string;
}
const res = await fetch("https://matthewviamusic.com/api/tracks")
const json: JSONItem[] = await res.json()

const result: string[] = json.map((x:JSONItem) => x.trackName)

const totalTracks = result.length

function incrementCounter(
  selector: string,
  current: number,
  target: number,
  duration: number,
  letter: string = ""
){
  let counter = document.getElementById(selector)
  let stepTime = Math.abs(Math.floor(duration / target))
  if(current < target && counter){
    current++
    counter.innerText = current.toString() + letter
    setTimeout(() => {
      incrementCounter(selector, current, target, duration, letter)
    }, stepTime)
  }
}

incrementCounter("counter", 0, totalTracks, 1000, "T")

</script>