---
interface Props {
	txtcol?: string;
}

const { txtcol } = Astro.props;
---

<nav class="container mx-auto">
<div class=`text-center sm:flex justify-between px-0 my-3 mx-[0px] ${txtcol}`>
  <a href="/astron">
    <h1 class="text-4xl">Astron</h1>
  </a>
  <ul class="flex gap-2 justify-center">
    <li>
      <a href="/astron/blog">Blog</a>
    </li>
    <li>|</li>
    <li>
      <a href="/astron/charts">Charts</a>
    </li>
  </ul>
</div>
</nav>



